body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator-container{
    background-color: #fff;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.display{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
  
    font-size: 12px;
    box-sizing: border-box;
    text-align: right;
    

    border: 1px solid #ccc;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}